.header_section{
    height: 200px;
    padding: 16px 54px 20px 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: #fdc001 solid 40px;
    width: 100%;
    background-image: url('/background_04.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header_left_section{
    height: 100%;
    width: 500px;
}
.logo_image{
    object-fit: fill;
    max-width: 220px;
}
.header_right_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -74px;
}
.header_cin{
    font-size: 24px;
    font-weight: 600;
    color: brown;
}
.header_cin_number{
    font-size: 24px;
    font-weight: 600;
    color: #091E42;
}
