.header_section {
  height: 200px;
  padding: 16px 70px 20px 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: #fdc001a3 solid 40px;
  width: 100%;
  background-image: url("/background_04.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.header_left_section {
  height: 100%;
  width: 500px;
}
.logo_image {
  object-fit: fill;
  max-width: 220px;
  mix-blend-mode: multiply;
}
.header_right_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header_cin {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.header_cin_number {
  font-size: 24px;
  font-weight: 600;
  color: #091e42;
}

/* NEW CSS */
.header_section_1 {
  height: 200px;
  padding: 16px 70px 20px 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(188, 142, 224, 1) 0%,
    rgba(123, 67, 233, 1) 100%
  );
}
.company_name {
  font-style: normal;
  font-weight: 700;
  color: #fff;
  font-family: Nova Square;
  color: #e0eff2;
  margin-top: 16px;
  font: italic bold 3rem Georgia, Serif;
  text-shadow: -4px 3px 0 #3a50d9, -4px 2px 0 #0a0e27;
}
.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
.header_right_section_1 {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.logo_image_1 {
  object-fit: contain;
  position: absolute;
  left: 60px;
  top: 80px;
  max-width: 220px;
  mix-blend-mode: multiply;
  filter: drop-shadow(1px 1px 3px grey);
}
.navigation_section {
  margin: 0px 20px;
  height: 50px;
  width: fit-content;
}
.navigation_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 14px;
  list-style: none;
}
.navigation_list_element {
  align-items: center;
  /* background: #FFFFFF;
      border: 0 solid #E2E8F0; */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  /* color: #1A202C; */
  color: #fff;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 20px;
  overflow-wrap: break-word;
  padding: 12px 16px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.active_page {
  background: #ffffff;
  border: 0 solid #e2e8f0;
  color: #000000;
  font-weight: 500;
  transform: scale(0.87);
  margin-top: 3px;
}
.navigation_list_element:hover {
  background: #ffffff;
  border: 0 solid #e2e8f0;
  color: #000000;
  font-weight: 500;
  transition: background 0.8s ease-in-out, border 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.transitionStyle {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-center both;
}
.list_element_name {
  font-family: popins;
  font-size: 16px;
}
.header_cin_section_1 {
  position: absolute;
  height: 42px;
  display: flex;
  justify-content: center;
  /* width: 100px; */
  padding: 6px 20px;
  right: 0;
  width: 40vw;
  background-color: #e8853a;
  border-radius: 18px;
  right: 5rem;
  top: 8rem;
}

.header_cin {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.header_cin_number {
  font-size: 24px;
  font-weight: 600;
  color: #091e42;
}
.hamburger_navigaion_section {
  display: none;
}
.hamburger_menu {
  display: none;
  padding: 12px;
}
.hamburger_icon {
  /* font-size: 24px;
  color: #f9f9f9;
  font-weight: 500;
  cursor: pointer;
  display: none; */
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;

}
.hamburger_icon .bar, .hamburger_icon::after, .hamburger_icon::before{
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.5s;
}
.hamburger_icon:hover {
  transform: rotateX(-5deg) rotateY(-360deg);
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out; /* Add a smooth transition for the rotation effect */
}
.hamburger_menu{
  display: block;
  position: absolute;
  right: 2rem;
  z-index: 1;
  top: 65px;
  width: 200px;
  border-radius: 5px;
  background: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
}
.hamburger_list_item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: popins;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition-duration: .25s;
}
.hamburger_list_item:hover {
  background-color: #7335b7;
  border-radius: 3rem;
  margin: 2px 0px;
  border: 1px solid #fff;

}

/* Media screen query */

@media screen and (max-width: 1280px) {
  .company_name {
    font-size: 2rem;
  }
  .list_element_name {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .navigation_section {
    display: none;
  }
  .hamburger_icon{
    display: block;
  }
  .hamburger_navigaion_section {
    display: flex;
    padding: 8px;
    margin-top: 4px;
  }
  .hamburger_icon.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger_icon.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger_icon.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 560px) {
  .header_section_1 {
    height: 180px;
    padding: 14px 20px 14px 20px;
  }
  .company_name {
    margin-top: 10px;
    margin-left: 14px;
    font: italic bold 2rem Georgia, Serif;
  }

  .header_cin_section_1 {
    height: 40px;
    width: 90%;
    right: 1rem;
  }
}
