.container{
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
.content_container{
    width: 100%;
    padding: 20px 160px;
}
.content_image_container{
    height: 300px;
    width: 600px;
    margin-top: 18px;
}
.content_image{
    aspect-ratio: 2/1;
}
.about_content_section{
    display: flex;
    flex-direction: row;
    width: 100%;
    row-gap: 40px;
    column-gap: 40px;
    /* grid-template-columns: 80% 20%; */
}
.spilt_content{
    margin: 5px 4px;    
    font-family: Nunito Sans;   
}
.main_content{
    padding: 0;
    width: 80%;
}
.main_heading{
    color: #091E32;
    font-size: 32px;
    font-weight: 600;
    font-family: system-ui;
    letter-spacing: 1px;
}
.main_sub_heading{
    color: #091E32;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 0.8;
    margin: 10px 0px 10px 14px;
}
.aside_content{
    padding: 0;
    width: 20%;
}
.card{
    background-color: #cec0c0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    position: relative;
    top: 45px;
}
.card_heading{
    color: #c10202;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}
.card ul{
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }

  .card_item{
    margin: 10px 0;
    padding: 15px 10px;
    background-color: #bf55ed8a;
    color: #091e32f2;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.8;
  }

  .card_item:hover {
    opacity: 1;
    scale: 1.08;
  }

  .body_content{
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .body_content_image{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    padding-bottom: 20px;
  }
  .body_content_image{
    object-fit: contain;
  }

  .body_content_info{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 16px;
  }
  .body_sub_heading{
    color: #212222;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-family: Nunito Sans;  
    letter-spacing: 1.1px;
    opacity: 0.8;
    margin: 10px 0px 20px 14px;
  }